*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    font-family: Nunito,Open-sans;
    font-size: large;
    justify-content: center;
    background-size: cover;
    background-image: url("./images/sju-back.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    overflow:hidden;
}
h2{
    text-align: center;
    margin: 20px;
}
a{
    text-decoration: none;
    color:blue;
}
a:hover{
text-decoration: underline;
color: rgb(6, 119, 217);
}
button{
    background-color: rgb(171, 48, 48);
    color:white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width:75%;
    height: 40px;
    font-size: medium;
}
button:hover{
    background-color:green;
    border-color: aliceblue;
}
input{
    padding:10px;
    margin:5px;
    font-size:medium;
    background-color: rgb(239, 237, 237);
    border-radius: 5px;
    width: 70%;
}
form input:focus{
    outline:none;
    border-color: white;
}
form input:hover{
    border-color:white;
}
#role{
background-color: rgb(239, 237, 237);
padding:10px;
margin:5px;
width:75%;
border-radius: 5px;
}
.return{
    display: block;
    justify-self: center;
    padding-right: 90px;
}
p{
    padding: 10px;
}
form{
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    width: 500px;
    justify-content: center;
    box-shadow: 0 0 5px black;
}
#main{
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    width: 500px;
    text-align: center;
    box-shadow: 0 0 5px black;
}
.form-box{
    margin: 0px 15px;
    padding: 100px;
    justify-content: left;
    display: flex;
    align-items: left;
}
#login{
    padding:200px;
}
/*for login and signup*/
form>div{
    width:100%;
    display: flex;
    justify-content: center;
}
/*for add*/
#add>div{
    display:block;
    padding-left: 30px;
}
#adjust{
padding:200px;
}
/*for search*/
#adjust-2{
    padding:350px;
}
label{
    margin: 15px 0px;
   text-align: left;
}
/*for errors*/
#error-message{
    color: red;
}
.incorrect .asterick{
color: red;
}
.incorrect input{
border-color: red;
outline-color: red;
}
